@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* font-family: "Anton", sans-serif;

font-family: "Roboto Mono", monospace;

*/
body{
  background-color: #000;
}

*{
  margin:0;
  padding:0;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  transition: 1s ease-in-out;

}

html{
  font-size: 62.5%;
}

.btn{
  padding: 1rem;
  font-size: 1.5rem;
  color: cyan;
  border-radius: 1rem;
  background-color: #000;
  cursor: pointer;
  text-decoration: none;
  margin: 1rem 0rem 0rem 0rem;
}

.header{
  width: 100%;
  background: rgb(25, 25, 25);
  /* background: linear-gradient(90deg, rgb(23, 22, 44) 0%, rgba(7,7,7,1) 100%); */
  padding:1rem 7%;
  position: relative;
  box-shadow: 0rem 0rem 1rem 0.1rem #000;
}

.header .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header #site_logo{
  width: 5rem;
  
}

.header .navbar .nav_icon{
  display: flex;
  gap: 2rem;
}

.header .navbar .nav_icon .icon{
  font-size: 2.5rem;
  color: #fff;
}

.not_found{
  width: 50%;
  height:100vh;
  padding: 1rem;
  position: relative;
  margin: 0rem auto;
}

.not_found img{
  border-radius: 1rem;
  width: 100%;
  height: 100%;
}

.not_found .back_btn{
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 1rem;
  transform: translate(-50%,0);
  width: 5rem;
  padding: 1rem;
  background-color: #59E4A8;
  color: #000;
  font-size: 1.5rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.pop_up{
  position: fixed;
  width: 95%;
  text-align: center;
  z-index: 1000;
  right: 50%;left: 50%;
  transform: translate(-50%,0);
  top: -100%;
  transition: 1s ease-in-out;
  background-color:#203f32;
  border-radius: 1rem;
}

.pop_up h3{
  font-size: 3rem;
  color:#fff;
}

.pop_up p{
  font-size: 1.5rem;
  color: #fff;
}

.about_comic{

  /* height: 100vh; */
  margin-top: 10rem;
}

.about_comic img{
  display: block;
  margin: 1rem auto;
  width: 40%;
  height: 60%;
  border-radius: 1rem;
}

.about_comic .details{
  width: 40%;
  /* border: 0.1rem solid red; */
  margin: 0rem auto 0rem auto;
  background-color: #0a0917;
  box-shadow: 0rem 0rem 0.1rem 0.1rem #000000;
  border-radius: 2rem;
  padding: 1rem 2rem;
}

.about_comic .details h3{
  text-wrap: wrap;
  font-size: 2.5rem;
  color: #ff5700;
  text-transform:uppercase;
  overflow: hidden;
  width: 100%;
  margin-bottom: 1.5rem;

}


.about_comic .details .details_head{
  display: block;
  font-size: 1.8rem;
  color: #fff;
  font-weight: bold;
  margin: 1rem 0rem 0rem 0rem;
}

.about_comic .details .data{
  color: #fff;
  display: block;
  font-size: 1.3rem;
  letter-spacing:0.1rem;
}

.episode{
  background-color: #0a0917;
  width: 40%;
  /* border: 0.1rem solid red; */
  margin: 0rem auto 1rem auto;
  background-color: #0a0917;
  box-shadow: 0rem 0rem 0.1rem 0.1rem #000000;
  /* border-radius: 2rem; */
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  border-bottom-left-radius:0.5rem ;
  border-bottom-right-radius:0.5rem ;
  padding: 1rem 2rem;
}

.episode .box{
  display: flex;
  padding: 0.5rem;
  background-color: #0e0d21;
  border-radius: 0.5rem;
  margin: 0.5rem 0rem;
  text-decoration: none;
  align-items: center;
}

.episode .box .episode_number{
  width: 5rem;
  font-size: 2rem;
  color: #fff;
  text-align: center;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin: 0rem 0.8rem 0rem 0rem;
  border: 0.1rem solid rgb(0, 0, 0);
  height: 5rem;
}

.episode .box p{
  font-size: 1.5rem;
  color: #fff;
  width: 100%;
}



@media screen and (max-width: 800px) {
  .not_found{
    width: 100%;
    padding: 0rem;
  }

  .about_comic{
    width: 100%;
  }
  .about_comic .details{
    width: 95%;
  }

  .about_comic .details h3{
    font-size: 2.5rem;
  }

  .about_comic  img{
    width: 60%;
    height: 40rem;
  }

  .episode{
    width: 95%;
    padding: 0.5rem;

  }

}


@media (max-width:400px) {
  .about_comic  img{
    width: 60%;
    height: 20rem;
  }
}