@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* font-family: "Anton", sans-serif;

font-family: "Roboto Mono", monospace;

*/
body {
  background-color: #000;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  /* transition: 1s ease-in-out; */

}

html {
  font-size: 62.5%;
}

.btn {
  padding: 1rem;
  font-size: 1.5rem;
  color: #ff7500;
  border-radius: 1rem;
  background-color: #000;
  cursor: pointer;
  text-decoration: none;
  margin: 1rem 0rem 0rem 0rem;
}

.header {
  width: 100%;
  background: rgb(25, 25, 25);
  padding: 1rem 7%;
  position: relative;
  box-shadow: 0rem 0rem 1rem 0.1rem #000;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header #site_logo {
  width: 5rem;

}

.header .navbar .nav_icon {
  display: flex;
  gap: 2rem;
}

.header .navbar .nav_icon .icon {
  font-size: 2.5rem;
  color: #fff;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 100px;
  display: grid;
  background: radial-gradient(farthest-side, #fff 98%, #0000) center/30px 100% no-repeat;
  --mask:
    radial-gradient(12px at left 15px top 50%, #0000 95%, #000),
    radial-gradient(12px at center, #0000 95%, #000),
    radial-gradient(12px at right 15px top 50%, #0000 95%, #000);
  -webkit-mask: var(--mask);
  mask: var(--mask);
  -webkit-mask-composite: source-in;
  mask-composite: intersect;
  animation: l2 0.5s infinite alternate;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  height: 30px;
  aspect-ratio: 1;
  background: #fff;
  border-radius: 50%;
}

.loader:after {
  margin-left: auto;
}

@keyframes l2 {
  to {
    width: 50px;
  }
}

.comic_image{
  width: 80%;
  margin: 1rem auto;
  /* height: 40rem; */
}

.comic_image .content{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100rem;
  background-color: #0e0d21;
  border-radius: 1rem;
  margin: 0.1rem 0rem;
}

.comic_image .content img{
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

@media (max-width:800px) {

  .comic_image{
    width: 98%;
  }

  .comic_image .content{
    height: 80rem;
  }
}