/* @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap'); */


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
    transition: 1s ease-in-out;
    -webkit-overflow-scrolling: touch;
}



html{
    font-size: 62.5%;
}

html::-webkit-scrollbar-track{
    width:0.5rem;
    background:#252525;
}



html::-webkit-scrollbar{
    width: 0.5rem;
    background-color: #252525;
}



html::-webkit-scrollbar-thumb{
    background: #ff5700;
    /* width: 1rem; */
    border-radius: 1rem;
}

body{
    background-color: #252525;
}


.header{
    position: fixed;
}


.navbar{
    display: flex;
    background-color: rgba(0, 0, 0,0.9);
    padding: 1rem 7%;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #000000;
    position: fixed;
    top: 0rem;
    left: 0;
    right:0;
    z-index: 10000;
 
}

.navbar h3{
    font-size: 3.5rem;
    font-family: "Oswald", sans-serif;
}

.navbar h3 span{
    color:#ff5700;
}

.navbar .nav_icon{
    font-size: 2.5rem;
    color: #fff;  
}

.navbar .nav_icon a{
    margin: 0rem 1rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.navbar .nav_icon a:hover{
    color: #ff5700;
}

.pdf_comic_button{
    position: fixed;
    bottom: 0rem;
    width: 100%;
    background-color: rgba(0, 0, 0,0.9);
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem #000000;
    padding: 1rem 7%;
    display: flex;
    justify-content: space-between;
}

.pdf_comic_button button{
    background-color: #252525;
    color: #ff5700;
    font-size: 1.5rem;
    border-radius:0.7rem;
    padding:0.5rem;
    border: 0.1rem solid #000;
}

.pdf_comic_button button i{
    margin: 0rem 0.5rem;
}

.container{
    width: 70%;  /* Full width */
    display: block;
    margin: 0rem auto;
    padding: 0 0.5rem;
    overflow:hidden;
}

.container img{
    width: 100%;
    height: 100%;
    zoom: 50%;
    border-radius: 2rem;
    /* transform: scale(1); */
}

.temp{
    position:fixed;
    top: 50%;
    right: 50%;left: -100%;
    transform: translate(-50%,-50%);
    width: 50rem;
    height: 20rem;
    background-color: #252525;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 0.1rem 0.1rem #000;
    text-align: center;
}
.temp p{
    margin-top:8rem;
    /* margin-bottom: 50%; */
    font-size: 2.5rem;
    color: #fff;
}

.temp #close_temp_button{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 3.5rem;
    color: #ff5700;
    cursor: pointer;
}

@media (max-width:786px) {
    .container{
        width: 100%;
    }

    .temp{
        width: 100%;
    }
}

    
