@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* font-family: "Anton", sans-serif;

font-family: "Roboto Mono", monospace;

*/
body{
  background-color: #000;
}

*{
  margin:0;
  padding:0;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto Mono", monospace;
  transition: 1s ease-in-out;

}

html{
  font-size: 62.5%;
}

.btn{
  padding: 1rem;
  font-size: 1.5rem;
  color: cyan;
  border-radius: 1rem;
  background-color: #000;
  cursor: pointer;
  text-decoration: none;
  margin: 1rem 0rem 0rem 0rem;
}

.header{
  width: 100%;
  background-color: rgb(20,20,20);
  padding:1rem 7%;
  position: relative;
  box-shadow: 0rem 0rem 1rem 0.1rem #ffffff;
}

.header .navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header #site_logo{
  width: 5rem;
  
}

.header .navbar .nav_icon{
  display: flex;
  gap: 2rem;
}

.header .navbar .nav_icon .icon{
  font-size: 2.5rem;
  color: #fff;
}

.header .navbar .search_box{
  display: none;
  width: 100%;
  background-color: #252525;
  padding: 1rem 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}

.header .navbar .search_box #search{
  outline: none;
  background-color: transparent;
  width: 100%;
  color: #fff;
  font-family: "Roboto Mono", monospace;
}

.header .navbar .search_box #close_search_box_button{
  font-size: 2.5rem;
  color: #ff5700;
}

.header .navbar .search_box #search::-webkit-search-cancel-button{
  display: none;
}

.header .display_search_result{
  width: 80%;
  position: absolute;
  top:101%;
  right: 50%;left: -100%;
  transform: translate(-50%,0);
  background-color: #252525;
  box-shadow: 0rem 0rem 1rem 0.1rem #000;
  border-radius: 1rem;
  padding: 1rem;
  z-index: 10000;
}

.header .display_search_result .search_content{
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  text-decoration: none;
  color: #fff;
  /* background-color: #1b1b1b; */
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  
}


.header .display_search_result .search_content i{
  margin-right: 1rem;
}

.header .display_search_result .search_content p{
  white-space: nowrap;    
  overflow: hidden;       
  text-overflow: ellipsis; 
  width: 100%;
}
/* 
.comic .title{
  width: 100%;
  background-color: rgb(20, 20, 20);
  color: #ff5700;
  font-size: 3rem;
  
} */


.mySwiper{
  width: 90%;
  height: 50rem;
  display:block;
  margin: 0rem auto;
  border-radius: 1rem;
}

.mySwiper .slide{
  height: 100%;
  width: 100%;
  background-color: transparent;
}

.mySwiper .slide .box{
  width: 100%;
  height: 100%;
  position: relative;
}

.mySwiper .slide .box img{
  width: 100%;
  height: 100%;
  opacity: 0.5;
  border-radius: 1rem;

}

.mySwiper .slide .box .content{
  position: absolute;
  left:1rem;
  top:50%;
  font-family: "Anton", sans-serif;
  text-align: center;
  width: 50%;
  /* background-color:rgb(0, 0, 0,0.3); */
}

.mySwiper .slide .box .content h3{
  font-size: 4rem;
  color:#ff5700;
  font-weight: bolder;
  text-shadow: 0.5rem 0.5rem  0.5rem #000000;
  font-family: "Anton", sans-serif;


}
.mySwiper .slide .box .content p{
  font-size: 2rem;
  color: rgb(255, 255, 255);
  margin: 1rem 0rem;
  text-shadow: 0.5rem 0.5rem  0.5rem #000000;
}

.mySwiper .slide .box .content p span{
  color: #ff5700;
}

.mySwiper .slide .box .content a{
  display: inline-block;
  text-decoration: none;
  font-size: 1.5rem;
  color: #ff5700;
  background: rgb(20, 20, 20);
  border-radius: 1rem;
  padding: 1rem;
  margin:1rem 0rem;
}

.section_header{
  background-color: rgb(20, 20, 20);
  margin: 1rem auto;
  width: 90%;
}
.section_header h2{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  margin: 0rem 1rem;
  font-weight: bolder;
}
.section_header h2 span{
  color: #ff5700;

}

.comic_container {
  width: 90%;
  margin: 0rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  grid-gap: 0.5rem; /* Small gap between grid items */
}

.comic_container .content {
  background-color: rgb(0,0,0);
  border: 0.1rem solid #252525;
  display: flex;
  flex-direction: column; /* Stack image and paragraph vertically */
  overflow: hidden; /* Prevent overflow from content */
  border-radius: 1rem;
  text-decoration: none;
  position: relative;
}

.comic_container .content img {
  width: 100%; /* Image stretches to fill container width */
  height: 100%; /* Maintain aspect ratio */
  border-radius: 1rem;
}

.comic_container .content .status_on_thumbnail{
  position: absolute;
  top:0.5rem;
  right: 0rem;
  /* width: 5rem; */
  background:green;
  padding: 0.5rem;
  font-size: 1rem;
  color: #fff;
  border-radius: 0.5rem;
}





.comic_container .content .comic_title{
  height: 6rem;
  /* border: 0.1rem solid red; */
  /* display: flex; */
  /* align-items: center; */
  padding: 0.5rem;
}

.comic_container .content .comic_title .comic_name{
  margin: 0; 
  padding: 0.5rem; 
  box-sizing: border-box; 
  text-align: center; 
  overflow: hidden;
  white-space: nowrap;
  
  text-overflow: ellipsis; 
  font-size: 1.5rem;
  color: #fff; 
  width:100%;
  display: block;
}

.comic_container .content .comic_title .view{
  width: 100%;
  padding: 0.5rem;
  /* border: 0.1rem solid red; */
  display: flex;
  align-items: center;
}

.comic_container .content .comic_title .view i{
  color: #ff5700;
  font-size: 1rem;
  margin: 0rem 0.5rem 0rem 0rem;
}

.comic_container .content .comic_title .view p{
  color: #fff;
  font-size: 1rem;
}



.comic_container .content  .red{
  background:red;
}


.about_us {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  border-bottom: 0.1rem solid #000;
}

.about_us span{
  color: red;
}

.footer {
  width: 100%;
  background-color: rgb(20, 20, 20);
  display: flex;
  gap: 10rem;
  padding: 1rem;
  /* border-radius: 0.5rem; */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer .footer_container .part {
  display: flex;
  flex-flow: column;
}

.footer .footer_container .part .child {
  font-size: 1.5rem;
  margin-top: 0.8rem;
  color: #fff;
}

.footer .footer_container .part i {
  color:#ff5700;
  margin-right: 0.5rem;
}



